fastapi
uvicorn
pydantic
python-multipart
langchain
langchain-community
langchain-openai
pydantic
langchain-google-genai
pytest
pytest-asyncio
google-generativeai
chromadb
python-dotenv
streamlit
mangum
supabase
psycopg2-binary
pgvector
vecs
numpy
sqlalchemy
